language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - nightly
script: # the default script is equivalent to the following
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --color=yes -e 'import Pkg; Pkg.add("Test"); Pkg.build("BisectPy"); Pkg.test("BisectPy"; coverage=true)';
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email:
    - singularitti@outlook.com
